*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, rgba(2, 117, 124, 0.8), rgba(255, 255, 255, 0)),url('./images/manhaten.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
button{
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    justify-content: space-between;
    width: 100vw
}
.navheading_container{
    display: flex;
    align-items: center;
}
.navheading_container > img{
    width: 30px;
}
.navheading_container > p{
    color: white;
    margin-left: 10px;
}
nav .empty{
    width:294px ;
}



.ancors{
    display: flex;
    gap: 10px;
}


.input_container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}
.input_container > img{
    width: 25px;
}
.input_container > input{
    border: none;
    outline: none;
}
.input_container > button{
    background-color:rgb(40, 142, 143) ;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}



.intro{
    margin-left: 100px;
    margin-top: 130px;
}
.intro > h1{
    width: 250px;
    color: white;
    font-size: 2.5rem;
}
.intro > p{
    width: 200px;
    color: white;
    font-size: small;
    margin-top: 30px;
}
.intro > button{
    background-color: rgba(2, 113, 119, 0.66);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
}



.icons{
    display: flex;
    flex-direction:column ;
    position: absolute;
    top: 310px;
    gap: 5px;
}
.icons a img{
    width: 35px;
}
.line{
    width: 2px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 18px;
    border-radius: 1px;
}



.about_heading{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
}
.about_content{
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.362);
    width: 1000px;
    padding: 20px;
    border-radius: 10px;
}
.about_container2{
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
    gap: 15px;
}
.team{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 50px;
}
.about_container2 > div{
    background-color:  rgba(0, 0, 0, 0.362);
    padding: 10px;
    border-radius: 10px;
}
.about_name{
    color: white;
}
.about_dis{
    color: rgb(167, 166, 166);
}
.about_posi{
    background-color: rgb(39, 67, 133);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 50px 3px 50px;
    margin-top: 5px;

}




.form_container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form_container h1{
    color: white;
    font-size: 4rem;
    padding-bottom: 150px;
}
.form_container form{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.362);
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    /* height: 300px; */
    margin-left: 70px;
    gap: 10px;
}
.form_container form label{
    color: white;
}
.form_container form input{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(142, 142, 142);
    min-height: 30px;
}
.form_container form textarea{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(142, 142, 142);
    min-height: 160px;
}
.form_container form button{
    background-color: rgb(1, 117, 121);
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    padding: 5px;
}