*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, rgba(2, 117, 124, 0.8), rgba(255, 255, 255, 0)),url('./manhaten.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
button{
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    justify-content: space-between;
    width: 100vw
}
.navheading_container{
    display: flex;
    align-items: center;
}
.navheading_container > img{
    width: 30px;
}
.navheading_container > p{
    color: white;
    margin-left: 10px;
}

.ancors{
    display: flex;
    gap: 10px;
}


.input_container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}
.input_container > img{
    width: 25px;
}
.input_container > input{
    border: none;
    outline: none;
}
.input_container > button{
    background-color:rgb(40, 142, 143) ;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}



.intro{
    margin-left: 100px;
    margin-top: 130px;
}
.intro > h1{
    width: 250px;
    color: white;
    font-size: 2.5rem;
}
.intro > p{
    width: 200px;
    color: white;
    font-size: small;
    margin-top: 30px;
}
.intro > button{
    background-color: rgba(2, 113, 119, 0.66);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
}